* {
    /*margin-top: 30px;*/
    font-family: Futura;
}

#messageArea {
    display: none;
}

#userForm {
  float:right;
  margin-left: 200px;
}

/*#userFormArea {
    background-color: black;
    color: white;
}*/

h1 {
    margin-top: 100px;
    font-size: 70px;
}

.center {
    text-align: center;
}



#eventHere li:nth-child(odd) {
    background: #eee;
}

#chat li:nth-child(odd) {
    background: #eee;
}

ul#chat {
  overflow-y: scroll !important;
  max-height: 200px !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 0;
}

html, body {
    height: 100%;
}

a {
    color: lightblue
}

div.search {
    margin-left: 30px;
    position: absolute;
    z-index: 1
}

.search {
    padding: 8px 15px;
    width: 100%
}

.button {
    position: relative;
    border: 2px solid #0E5DA2;
    background-color: #0E5DA2;
    color: #fafafa;
    padding: 7px 15px;
}

.button:hover {
    background: #428bca;
    border: 2px solid #428bca;
    transition: 0.2s
}


#mapid {
    height: 80%;
    float: right;
}

#suggestionsBox {
    height: 90%;
    background: #684756;
    border-radius: 3px;
    margin-top: 0;
    overflow-y: scroll;
    color: white;
}


.content {
  height:100vh;
  display:none;
  margin-right: 0 !important;
  float: left;
}

.main {
  height:100vh;
  width: 100%;
}
/*#chatArea {
  width:30%;
  float:left;
}*/

span {
  cursor: pointer;
}

#success{
  display: none;
  float: right;
  background: #114B5F;
  padding: 0 100px;
  color: white;
}

.well {
  overflow-y: scroll;
  max-height: 150px;
}

#searchBar {
  color: black;
}
